---
// Contact Modal (matches Signup modal structure)
import Modal from '../../ui/Modal.astro'
import Form from '../../ui/forms/Form.astro'
import FormField from '../../ui/forms/partials/FormField.astro'
import InputField from '../../ui/forms/form-elements/InputField.astro'
import TextArea from '../../ui/forms/form-elements/TextArea.astro'
import Button from '../../ui/Button.astro'

type Props = { classes?: string }
const { classes } = Astro.props
---

<Modal
  id="contact"
  title="Contact Us"
  classes="
    mx-auto my-6 sm:my-10
    w-[92vw] sm:w-[88vw] md:w-[80vw] lg:w-[72vw] xl:w-[60vw]
    max-w-5xl
    max-h-[calc(100vh-5rem)] overflow-y-auto
    rounded-2xl
  "
>
  <p class="mb-4">Tell us a bit about your enquiry and we’ll get back to you.</p>
  <Form>
    <FormField>
      <InputField type="text" id="firstName" label="First Name" />
      <InputField type="text" id="lastName" label="Last Name" />
    </FormField>
    <FormField>
      <InputField type="email" id="email" label="Email" required />
    </FormField>
    <FormField>
      <InputField type="tel" id="phone" label="Phone Number" />
    </FormField>
    <FormField>
      <TextArea id="message" label="Your Message" />
    </FormField>
    <Button style="primary" type="submit" classes="w-full" size="lg">Send Message</Button>
  </Form>
</Modal>